<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1 style="text-align: center;">Bem vindo á página inicial</h1>
    <p style="text-align: center;">O conteúdo será adicionado em breve</p>
</body>
</html>